{{#if currentUser}}
    <h2>Bienvenido, {{currentUser.first_name}}!</h2>
    <p>Tu rol: {{currentUser.role}}</p>
    <a href="/login">Cerrar sesión</a>
{{else}}
    <script>window.location.href= '/login'</script>
{{/if}}